name: Publish NPM package

on:
    push:
        tags:
          - v*
    release:
      types: [created]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                node-version: '12.x'
                registry-url: 'https://registry.npmjs.org'
            - name: Install dependencies
              run: npm ci
            - run: npm run build --if-present
            - run: npm run lint
            - run: npm test
            - run: npm publish --access public
              env:
                NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
